#about-wrapper {
    background: var(--wrapper-background);
    padding: 30px;
}

#about-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(100px, 100px));
    grid-template-rows: repeat(9, minmax(75px, 75px));
    justify-content: center;
}

#navbar {
    grid-row: 1 / 10;
    grid-column: 1 / 2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 75px;
    grid-template-rows: repeat(9, minmax(75px, 75px));
    background: var(--navbar);
    color: var(--navbar-elements);
}

#navbar div {
    padding: 20px 15px;
    text-align: center;
}

#empty-top-gutter {
    grid-row: 1 / 2;
    grid-column: 2 / 9;
    padding: 10px;
    background: var(--bg);
}

#scrollable-content {
    grid-row: 1 / 10;
    grid-column: 2 / 13;
    padding: 25px;
    background: var(--bg);
    text-align: center;
    height: 675px;
    overflow-y: scroll;
    font-size: 15px;
    color: var(--font-light);
}

#scrollable-content a {
    text-decoration: none;
    color: var(--other-headings);
}

.nav-item .icon {
    font-size: 28px;
}

.nav-menu-item {
    text-decoration: none;
    color: inherit;
    position: relative;

    &.is-active {
        color: var(--active-menu) !important;
        font-weight: bolder !important;
    }

    &.is-active::after {
        content: "";
        width: 5px;
        height: 60px;
        position: absolute;
        top: 15px;
        left: 0;
        background: var(--active-menu);
        border-radius: 999px;
    }
}

.small-menu-item-desc {
    font-size: 10px;
}

#about {
    grid-row: 8 / 10;
    align-self: center;
}

.title {
    font-size: 14px;
    color: var(--headings);
}

i.fa.fa-github {
    color: var(--other-headings);
    font-size: 25px;
}

@media screen and (min-width: 340px) and (max-width: 1200px) {
    #about-container {
        display: grid;
        grid-template-columns: 0.1fr 1fr !important;
    }
}